@import "_variable.scss";

.potato-parent {
  height: 60rem;
}

.potato {
  position: relative;
}

.potato-img {
  position: absolute;
  width: 25rem;
  transition: all 0.3s;
}

.potato-img-1 {
  height: 200px;
  position: relative;
  top: 90%;
}
.potato-img-2 {
  top: 80%;
  left: 30%;
}

.potato-img:hover {
  transform: scale(1.4);
  box-shadow: 0 2rem 1rem rgba(color(black), $alpha: 1);
  z-index: 2;
  outline: 1.5rem solid color(brown);
}
.potato:hover .potato-img:not(:hover) {
  transform: scale(0.9);
  filter: grayscale(0.8);
  opacity: 0.7;
}
